@font-face {
  font-family: 'yofont';
  src: url('/images/font/iconfont.eot');
  src: url('/images/font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/images/font/iconfont.woff') format('woff'),
  url('/images/font/iconfont.ttf') format('truetype'),
  url('/images/font/iconfont.svg#iconfont') format('svg');
}
