.VideoHeader{
  height: .44rem;
  width: 100%;
  background-color: #fe5c4d;
  @include flexbox();
  span{
    @include flex();
    line-height: .44rem;
    text-align: center;
    color: #fff;
    &.active{
      border-bottom:2px solid #fff;
    }
  }
  .yo-ico{
    width: .44rem;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    color:#fff;
    font-size: .18rem;
  }
}
.videocontent{
  width: 100%;
  height: 100%;
  overflow: hidden;
  #video-swiper{
    width: 100%;
    height: 100%;
    .swiper-slide{
      width: 100%;
      height: 100%;
      overflow: auto;
      img{
        width: 100%;
        margin-bottom: .1rem;
      }
    }
  }
}
